In [1]:
import pandas as pd

In [2]:
my_ds = ['0', '1', '8', '10']

In [3]:
my_var = pd.Series(my_ds)

In [4]:
print(my_var)

0     0
1     1
2     8
3    10
dtype: object

In [7]:
print(my_var[3])

10

In [23]:
a = [25.3454324, 26.3543, 27.5343]

In [24]:
# adds an index to the series (= to the column)
myage = pd.Series(a, index = [2020, 2021, 2022])

In [25]:
print(myage)

2020    25.345432
2021    26.354300
2022    27.534300
dtype: float64

In [26]:
type(a)

list

In [27]:
type(myage)

pandas.core.series.Series

In [34]:
#to convert float to int (do the same with 'str' to convert to string
print(myage.astype(int))

2020    25
2021    26
2022    27
dtype: int64

In [29]:
pd.Series(myage).round(3)

2020    25.345
2021    26.354
2022    27.534
dtype: float64

In [39]:
print(pd.options.display.max_rows)

60

In [40]:
pd.options.display.max_rows = 1000