# What is not a collection

Most of our variables have one value in them - when we put a new value in the variables, the old value is overwritten.

# What is a collection

- A collection allows to put many values in a single variable
- A collection is nice because we can carry all many values around in one convenient.
List constant in a variable.

In [4]:
print([1, 'red', 54, [5, 6], 'bluE'])

[1, 'red', 54, [5, 6], 'bluE']

In [6]:
for i in [5, 4, 3, 2, 1]:
    print (i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

In [7]:
friends = ['Paul', 'Hugo', 'Louis']
for friend in friends :
    print('Happy New Year', friend)
print('Done!')

Happy New Year Paul
Happy New Year Hugo
Happy New Year Louis
Done!

In [8]:
fruit = 'banana'
x = fruit[1]
print(x)

a

# Looking inside lists

Just like strings, we can get at any single element in a list using an index specified in square brackets

In [11]:
x = ['Glenn', 'stacy']
y = x[1]
print(y)

stacy

- <b>Lists are Mutable</b>
- Strings are immutable - we cannot change the contents of a string - we must make a new string to make any change
- Lists are 'mutable' - we can change an element of a list using the index operator

In [13]:
lotto = [2, 43, 5, 67, 81]
print(lotto)

[2, 43, 5, 67, 81]

In [14]:
lotto[2] = 89
print(lotto)

[2, 43, 89, 67, 81]

<b> How long is a list? </b>
- The len() function takes a list as a parameter and returns the number of elements in the list 
- Actually len() tells us the numberof elements of any set or sequence (such as a string)

In [15]:
greet = 'Hello Bob'
print(len(greet))

9

In [16]:
x = [1, 34, 45, 89]
print(len(x))

4

<b> Using the range function</b>
- The range function returns a list of numbers that range frm zero to one less than the parameter
- We can construct an index loop using for and an integer iterator

In [19]:
print(range(4))

range(0, 4)

In [21]:
friends = ['Paul', 'Hugo', 'Louis']
print(len(friends))

3

In [22]:
print(range(len(friends)))

range(0, 3)

In [23]:
friends =  ['Paul', 'Hugo', 'Louis']

for friend in friends : 
    print('Happy New Year', friend)

Happy New Year Paul
Happy New Year Hugo
Happy New Year Louis

In [24]:
for i in range(len(friends)):
    friend = friends[i]
    print('Happy New Year', friend)

Happy New Year Paul
Happy New Year Hugo
Happy New Year Louis

In [25]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [26]:
t = [1, 2, 3, 4, 5, 6]
t[1:3]

[2, 3]

In [27]:
t[:3]

[1, 2, 3]

In [28]:
t[3:]

[4, 5, 6]

In [29]:
x = list()
type(x)

list

In [30]:
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Building a list from scratch

- We can create an empty list and then add elements using the append method
- The list stays in order and new elements are added at the end of the list

In [32]:
stuff = list()
stuff.append('Book')
stuff.append(99)
print(stuff)

['Book', 99]

In [33]:
stuff.append('End')
print(stuff)

['Book', 99, 'End']

# Is something in a list

- True and False operator
- 'in' or 'not in'

In [35]:
some = [1, 9, 21, 34, 84]
9 in some

True

In [36]:
35 in some

False

In [37]:
34 not in some

False

# Lists are in order

In [38]:
some = [1, 9, 21, 34, 84]
some.sort()
print(some)

[1, 9, 21, 34, 84]

# Built-in functions and lists

In [39]:
some = [1, 9, 21, 34, 84]
print(len(some))

5

In [40]:
print(max(some))

84

In [41]:
print(min(some))

1

In [42]:
print(sum(some))

149

In [43]:
print(sum(some)/len(some))

29.8

In [44]:
#Calculation of average using strings

count = 0
total = 0
while True:
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    total = total + value
    count = count + 1

average = total / count
print(average)

Enter a number:  1
Enter a number:  4
Enter a number:  5
Enter a number:  90
Enter a number:  46
Enter a number:  done

29.2

In [49]:
#Calculation of average using lists

numlist = list()
while True: 
    inp = input('Enter a number')
    if inp =='done': break 
    value = float(inp) 
    numlist.append(value)

average = sum(numlist)/len(numlist)
print('average: ', average)

Enter a number 1
Enter a number 4
Enter a number 5
Enter a number 90
Enter a number 46
Enter a number done

average:  29.2

In [54]:
fread = open('Test_Python_FileReading_1.txt')
for line in fread:
    line = line.rstrip()
    if line.startswith('This') : continue
    words = line.split()
    print(words[2])

THE

IndexError: list index out of range